body {
  background: #f2f5f6;
  color: #696969;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  width: auto !important;
}

#logo {
  margin-top: 0.1em;
  -webkit-transform: rotate(-3deg);
  font-size: 55px;
  font-family: "Bubblegum Sans", cursive;
}

#logo span.one   { color: #DF151A; }
#logo span.two   { color: #FD8603; }
#logo span.three { color: #F4F328; }
#logo span.four  { color: #00DA3C; }
#logo span.five  { color: #00CBE7; }
#logo span.six   { color: #1D3BB5; }
#logo span.seven { color: #FD00BF; }
#logo span.bang  { color: #DF151A; }

h2 {
  font-size: 18px;
  font-weight: bold;
  display: block;
  text-align: right;
  margin: 4px 0px;
  color: #333;
}

h3 {
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 5px;
}

label {
  font-size: 12px;
}

input[type=text], input[type=password], input[type=search], input[type=submit], textarea, select {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #696969;
  outline: none;
}

input.disabled {
  border: none;
}

form {
  padding: 0px;
  margin: 0px;
}

#wrapper {
  width: 525px;
}

section {
  border-bottom: 1px solid #edf6f7;
  margin-bottom: 16px;
}

p.answer {
  margin-top: 5px;
}

table.options {
  margin: 0px;
  padding: 0px;
  width: 100%;
  table-layout: fixed;
}

table.options td {
  width: 30%;
  vertical-align: top;
  padding: 8px 0px;
}

table.options td+td {
  width: 70%;
}

table.options td label {
  font-weight: bold;
}

table.options td+td label {
  font-weight: normal;
}

table.options tr.coupledRow td {
  padding: 2px 0px;
}

.copyright {
  text-align: center;
  padding-bottom: 20px;
}

select {
    width: 150px;
}

label {
  padding-right: 10px;
}

.radioGroup label {
  padding-left: 4px;
  padding-right: 4px;
}

input[type=submit], button {
  color: black;
}
input[disabled], button[disabled] {
  color: #696969;
}

input[type=checkbox] {
  float: left;
  margin-right: 0.66em;
  margin-bottom: 2.5em;
}

.vignette {
  background: white;
  margin: 40px auto 20px auto;
  padding: 6px;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 2px 2px 6px 1px #999;
}

.vignetteContent {
  padding: 18px;
}

#bookmarklet-container {
  text-align: center;
  padding: 15px;
}

#bookmarklet {
  border-top: 1px solid #df1518;
  background: #7d070b;
  background: -webkit-gradient(linear, left top, left bottom, from(#df1518), to(#7d070b));
  background: -webkit-linear-gradient(top, #df1518, #7d070b);
  background: -moz-linear-gradient(top, #df1518, #7d070b);
  background: -ms-linear-gradient(top, #df1518, #7d070b);
  background: -o-linear-gradient(top, #df1518, #7d070b);
  padding: 8px 12px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 18px;
  font-family: Georgia, Serif;
  text-decoration: none;
  vertical-align: middle;
}
#bookmarklet:hover {
  border-top-color: #bf0711;
  background: #bf0711;
  color: #ffffff;
}
#bookmarklet:active {
  border-top-color: #ff000d;
  background: #ff000d;
}

@media only screen and (max-width: 540px) {
  #wrapper {
    width: auto;
  }
}
